body{
    width: 80%;
    margin:auto;

}
#pname{
    text-align: center;
}
hr{
    height:2px;
    background-color: green;
}
h3{
    width: 100%;
    background-color: gray;
    border-collapse: collapse;
}
table
{
    width:100%;
    border-collapse: collapse;
    margin: auto;
}
table th{
   background-color: darkgreen;
   color: aliceblue;
}
table th,td{
    border-bottom: 1px solid gray;
}
label{
    float: left;
    width:100;
}
